<!doctype html>
<html lang="en">
  <head>
    <title>{{ original }}-translator</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6e2834bdce.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <style>
      body {
        background: 
          linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ), 
          url("https://source.unsplash.com/random");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
      }
    </style>
    {% block content %}{% endblock %}
  </body>
</html>